################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bavitha.BookStore/.vs/Bavitha.BookStore
/Bavitha.BookStore/Bavitha.BookStore/obj
/Bavitha.BookStore/Bavitha.BookStore/bin/Debug/net5.0
